
<%= form_with model: article, local: true do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
  </div>
  <br>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>
  <br>
  <div>
    <%= form.label "select status for article !" %><br>
    <%= form.select :status, ["public", "private", "archived"] %>
  </div>
  <br>  
  <br>
  <div>
    <%= form.submit yield(:button_text), class: "btn btn-primary" %>
  </div>


<% end %>


