
<title> Show </title>
<h2> <%= @article.title %> </h2>
<p>  <%= @article.body %> </p>
<ul>
	<li><%= link_to "Edit Article", edit_article_path %> </li>
	<li><%= link_to "Delete Article", article_path(@article), 
	        method: :delete,  data: { confirm: "Are you sure?" } %> </li>
</ul>
<hr>

<section>
	<h2>Article Comments count (<%= @article.comments.count %>) </h2>
  	<%= render @article.comments %>
</section>  	
	

<section>
  <div>
  <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  </div>
  <%= render 'comments/form' %>
</section>

