<h2>Add Comment</h2>

<%= form_with (model: @comment, local: true) do |form| %>
 
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>

  <p>

    <%= form.label :body %><br>
    <%= form.text_area :body %>
    
  </p>

  <p>
    <%= form.label "select status for comment !" %><br>
    <%= form.select :status, ["public", "private", "archived"] %>
  </p>

  <p>
    <%= form.submit %><br>
  </p>
<% end %>